name: Update README Activity

on:
schedule:
- cron: "0 * * * *"
workflow_dispatch:

permissions:
contents: write

jobs:
update-readme:
runs-on: ubuntu-latest

```
steps:
  - uses: actions/checkout@v4

  - uses: Readme-Workflows/recent-activity@v2
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
```
